* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.test {
  color: red;
  border: 15px;
  border-radius: 20%;
  background-color: bisque;
  font-size: 50px;
  width: 450px;
  height: 450px;
  object-fit: cover;
}
