

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(new-year-aesthetic-9aoumi4fxxtl3ubi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#container {
    background-color: rgba(0, 0, 0, 0.515);
    width: 100%; /* ან კონკრეტული ზომა */
    min-height: 100vh; /* მაგალითად მთელი ეკრანის სიმაღლე */
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#title {
    font-size: 60px;
    /* margin-bottom: 20px;
     */
     padding: 30px;
}

#Countdown {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    align-items: center;
}

.time {
    width: 20vh ;
    height: 20vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.474);
}

.time h3 {
    font-size: 55px;
}

.time p  {
    font-size: 20px;
}