*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: changeColor 2s infinite alternate;
}

@keyframes changeColor {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}