body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#result img {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

input,
button {
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 5px;
}
