@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/sansation');

@import url('https://fonts.cdnfonts.com/css/sansation-light');

                


/* 

font-family: 'Sansation Light', sans-serif;
                                                
font-family: 'Sansation Light', sans-serif;

font-family: "Inter", serif;
                                                
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", serif;
}


/* HEADER */

header{
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 999;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    color: #2F3A3B;
    font-size: 14px;
}

.header-sign{
    display: flex;
    /* gap: 30px; */
}

.in , .up{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: #494949;
    font-weight: 400;
}

.up{
    color: #003478;
    border: 1px solid #003478;
    font-weight: 600;
}



/*  MAIN */

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.lines{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    gap: 16px;
    position: relative;
    /* z-index: 3; */
}

.lines div{
    width: 100%;
    height: 66px;
    background-color: #303231;
    color: #fff;
}

.mustang-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.mustang-container img{
    position: absolute;
    right: -600px;
    top: 50%;
    transform: translateY(-52.2%);
}  

.hero-text{
    position: absolute;
    z-index: 111;
    /* left: 7.6%; */
    top: 50%;
    transform: translateY(-66%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
    left: 10%;
}

.hero-text h1{
    font-family: 'Sansation', sans-serif;                           
    font-size: 72px;
    font-weight: 300;
    line-height: 68px;
    color: #152137 ;
}

.hero-text h1 span{
    font-family: 'Sansation Light', sans-serif;
    color: rgb(251 169 15);
    font-weight: 700;
}


.hero-text p{
    font-family: 'Sansation Light', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    color: white;
}

.hero-text p span{
    font-family: 'Sansation Light', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 68px;

}

.hero-text div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-text div button {
    font-size: 18px;
    border: none;
    color: white;
    background-color: #003478;
    padding: 20px 50px;
    position: relative;
    top: 40px;
}


#different{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #28344A;
}

.different-img{
    border-radius: 50%;
    padding: 18px;
    background-color: #003478;
}

/* section 2 */

.section-2{
    display: flex;
    flex-direction: column;
}

.sec-2-header p{
    font-family: 'Sansation', sans-serif;
    font-size: 36px;
    color: white;
    background-color: #303231;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85px;
    line-height: 40.29px;
    font-weight: 400;
} 

.gtv{
    font-family: "Inter", serif;
    font-size: 24px;
    color: #303231;
    text-align: center;
    line-height: 29.05px;
    margin-top: 40px;
}

.squares-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Inter", serif;
}

.rotation-lines {
    color: #BCBCBC;
    width: 211px;
    border: 1px solid #BCBCBC;
    transform: rotate(-90deg); 
}


.build{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.place{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.circle-1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #5046C7;
    color: white;
    font-weight: 600;
    line-height: 48px;
    text-align: center; 
    margin-bottom: 25px;
}

.build .p-1 {
    color: #233443;        
    font-size: 18px;      
    font-weight: 600;     
}

.build p{
    color: #333333;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    margin-bottom: 28px;
}

.build button{
    color: #FF6645;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}


.share{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.share .p-2 {
    color: #233443;        
    font-size: 18px;      
    font-weight: 600;     
}

.circle-2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FF6645;
    color: white;
    font-weight: 600;
    line-height: 48px;
    text-align: center; 
    margin-bottom: 25px;
}


.share p{
    color: #333333;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    margin-bottom: 28px;
}

.share button{
    color: #FF6645;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}




.place{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.place .p-3 {
    color: #233443;        
    font-size: 18px;      
    font-weight: 600;     
}

.circle-3 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #81D9F8;
    color: white;
    font-weight: 600;
    line-height: 48px;
    text-align: center; 
    margin-bottom: 25px;
}


.place p{
    color: #333333;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    margin-bottom: 28px;
}

.place button{
    color: #FF6645;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}

.custom{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}

.custom a{
    background-color: #003478;
    color: white;
    text-decoration: none;
    width: 274px;
    height: 54px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21.78px;
}

.custom .coe{
    background-color: transparent;
    color: #0276B3;
    text-decoration: underline;
    font-size: 18px;
    line-height: 21.78px;
}


.block-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 200px;
}

.at{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 275px;
    height: 142px;
    text-align: center;
    box-shadow: 0px 12px 46px 0px #4B4B4B21;
    border-radius: 10px;
}

.at .starting-at{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #233443;
}

.at p{
    font-size: 52px;
    line-height: 62.93px;
    text-align: center;
    color: #333333;
}

.epa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 275px;
    height: 142px;
    text-align: center;
    box-shadow: 0px 12px 46px 0px #4B4B4B21;
    border-radius: 10px;
}

.epa .epa-est{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #233443;
}

.epa p{
    font-size: 52px;
    line-height: 62.93px;
    text-align: center;
    color: #333333;
}

.seat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 275px;
    height: 142px;
    text-align: center;
    box-shadow: 0px 12px 46px 0px #4B4B4B21;
    border-radius: 10px;
}

.seat .Seating-for{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #233443;
}

.seat p{
    font-size: 52px;
    line-height: 62.93px;
    text-align: center;
    color: #333333;
}


.sec-3-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #303231;
    height: 85px;
}

.sec-3-header p {
    font-family: 'Sansation', sans-serif;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 40.29px;
    text-align: center;
}

.supercharged-5-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;
    font-size: 24px;
    line-height: 34.93px;
    text-align: center;
    color: #303231;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-1 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 1166px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.text-content-1 {
    flex: 1;
    padding-right: 20px;
}

.text-content-1 .boost-p {
    font-family: 'Sansation', sans-serif;
    font-size: 36px;
    line-height: 40.29px;
    color: #303231;
}

.text-content-1 p {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 40px;
    font-family: "Inter", serif;
}

.text-content-1 ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.text-content-1 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Inter", serif;
}

.text-content-1 ul li svg {
    width: 14.000223159790039px;
    height: 10.26910400390625px;
    background-color: #3F6745;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    margin-right: 20px;
}

.image-content-1 {
    flex: 1;
    text-align: right;
}

.image-content-1 img {
    max-width: 100%;
    height: auto;
}



.container-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 1167px;
    margin: 0 auto;
    margin-bottom: 150px;
    gap: 150px;
}

.text-content-2 {
    margin-top: 150px;
    flex: 1; 
    text-align: left; 
}

.text-content-2 .gt {
    font-size: 36px;
    color: #303231;
    font-family: 'Sansation', sans-serif;
    line-height: 40.29px;
    margin-bottom: 40px;
}

.text-content-2 p {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-family: "Inter", serif;
}

.text-content-2 ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.text-content-2 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Inter", serif;
}

.text-content-2 ul li svg {
    width: 14.000223159790039px;
    height: 10.26910400390625px;
    background-color: #3F6745;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    margin-right: 20px;
}

.image-content-2 {
    flex: 1;
}

.image-content-2 img {
    max-width: 100%;
    height: auto;
}



.container-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    margin-bottom: 150px;
    gap: 150px;
}

.text-content-3 {
    flex: 1;
    text-align: left;
}

.text-content-3 .mach{
    font-size: 36px;
    color: #303231;
    font-family: 'Sansation', sans-serif;
    line-height: 40.29px;
    margin-bottom: 40px;
}

.text-content-3 p {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-family: "Inter", serif;
}

.text-content-3 ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.text-content-3 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Inter", serif;
}

.text-content-3 ul li svg {
    width: 14.000223159790039px;
    height: 10.26910400390625px;
    background-color: #3F6745;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    margin-right: 20px;
}

.image-content-3 {
    flex: 1;
}

.image-content-3 img {
    max-width: 100%;
    height: auto;
}


.container-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    gap: 150px;
}

.text-content-4 {
    flex: 1;
    text-align: left;
}

.text-content-4 .shel{
    font-size: 36px;
    color: #303231;
    font-family: 'Sansation', sans-serif;
    line-height: 40.29px;
    margin-bottom: 40px;
}

.text-content-4 p {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-family: "Inter", serif;
}

.text-content-4 ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.text-content-4 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Inter", serif;
}

.text-content-4 ul li svg {
    width: 14.000223159790039px;
    height: 10.26910400390625px;
    background-color: #3F6745;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    margin-right: 20px;
}

.image-content-4 {
    flex: 1;
}

.image-content-4 img {
    max-width: 100%;
    height: auto;
}

.text-content-4 .onthe { 
    margin-top: 40px;
}

/* section 4 */

.sec-4 {
    background-color: #303231;
    width: 100%;
    height: 874px;
    position: relative;
    padding-top: 1px; 
}

.arrows {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.car-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    position: relative;
    z-index: 0; 
}

.header-text-4 {
    font-size: 36px;
    font-family: 'Sansation', sans-serif;
    line-height: 40.29px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.images-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}


/* section 5 */

/* .text-content-5 .fordpass{
    font-family: 'Sansation', sans-serif;
    font-size: 36px;
    line-height: 40.29px;
}

.text-content-5 p {
    width: 100%;
    max-width: 574px;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 40.77px;
    font-family: "Inter", serif;
}

.text-content-5 a{
    font-size: 18px;
    color: white;
    font-family: "Inter", serif;
    line-height: 21.78px;
    text-align: center;
    background-color: #003478;
    text-decoration: none;
    padding: 18px 80px;
}


.images-cont{
    display: flex;
    align-items: center;
    width: 100%;
}

.images-cont img{
    position: absolute;
    right: -600px;
    top: 50%;
    transform: translateY(-52.2%);
}   */




.sec-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    height: 740px;
}

.text-content-5 {
    width: 604px;
    flex: 1;
    padding-right: 20px;
}

.text-content-5 .fordpass {
    font-family: 'Sansation', sans-serif;
    font-size: 36px;
    line-height: 40.29px;
}

.text-content-5 p {
    width: 100%;
    max-width: 604px;
    font-size: 18px;
    line-height: 40.77px;
    color: #333333;
    margin-bottom: 40.77px;
    font-family: "Inter", serif;
}

.text-content-5 a {
    font-size: 18px;
    color: white;
    font-family: "Inter", serif;
    line-height: 21.78px;
    text-align: center;
    background-color: #003478;
    text-decoration: none;
    padding: 18px 80px;
}

/* 
footer{
    background-color: #151515;
    color: white;
} */

footer {
    position: relative; 
    padding: 50px 20px; 
    background: #1a1a1a; 
    color: white;
    height: 880px;
    overflow: hidden; 
}

.last-img {
    position: absolute;
    right: 0; 
    top: 15%; 
    height: 100%; 
    z-index: 1; 
}

.last-img img {
    height: 584px;
    object-fit: cover; 
}

.foot-1-text{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.foot-1-text, .footer-a {
    position: relative;
    z-index: 2; 
}

.foot-1-text :first-child{
    font-size: 54px;
    font-family: 'Sansation', sans-serif;
    line-height: 60.43px;
    font-weight: 400;
    margin-top: 100px;
}

.foot-1-text span{
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #848484;
    font-family: "Inter", serif;
}

.foot-1-text p{
    font-size: 18px;
    line-height: 40.77px;
    font-family: "Inter", serif;
    margin-top: 50px;
}

.foot-1-text a {
    text-decoration: none;
    color: white;
    background-color: #003478;
    text-align: center;
    padding: 18px 80px;
    margin-top: 50px;
    width: 314px;
}

.footer-a {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.footer-a a {
    margin-left: 20px; /* ლინკებს შორის დაშორება */
}

.footer-line {
    width: 878px; 
    border: 1px solid #2C2C2C;
    margin: 0 auto; /* ეს მხოლოდ ამ ელემენტს გააცენტრებს */
    margin-top: 40px;
}

.last-p{
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 14.52px;
    text-align: center;
    margin-top: 30px;
}

